@charset "UTF-8";

$breakpoints: (
  "pc1": "screen and (max-width: 1100px)",
  "tab": "screen and (max-width: 1000px)",
  "sp": "screen and (max-width: 768px)",
  "sp1": "screen and (max-width: 400px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// =======================================================

body {
  margin: 0;
  overflow: hidden;
  position: relative;
}
img {
  width: 100%;
  height: auto;
}

#letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  @include mq(sp) {
    width: 260vw;
  }
}

.letterBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 101;
}

#room-container {
  width: 100vw;
  height: 100vh;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

// リンクボタンクリックでページ遷移アニメーション
@keyframes scaleAndFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
.animate-scale-fade {
  animation: scaleAndFade 1s forwards;
}
@keyframes animFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-fade {
  animation: animFade 1s forwards;
}

.wall-link {
  position: absolute;
  padding: 10px 20px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: opacity 0.3s;
  &.no1_img {
    padding: 0;
    max-width: 340px;
    width: 90%;
    @include mq(sp1) {
      max-width: none;
      width: 70%;
    }
  }
  &.comingsoon {
    padding: 0;
    max-width: 430px;
    width: 90%;
    padding-top: 120px;
    pointer-events: none !important;
    @include mq(sp) {
      width: 86%;
      padding-top: 36vw;
    }
  }
}

.wall-link:hover {
  opacity: 0.8;
}
